<div class="row">
  <div class="col-12 col-md-8 m-auto">
    <h3 class="text-primary m-3">Apply for Leave request</h3>
    <p class="text-muted">please fill the following fields :</p>
    <form [formGroup]="LeaveRequestForm" (ngSubmit)="onSubmit()">
      <label>From</label>
      <input
        class="form-control"
        id="startDate"
        formControlName="startDate"
        type="date"
      />
      <label>To</label>
      <input
        class="form-control"
        id="endDate"
        formControlName="endDate"
        type="date"
      />
      <label>Reason</label>
      <textarea class="form-control" formControlName="reason"></textarea>
      <label>Leave Type</label>
      <select
        class="form-select"
        formControlName="leaveTypeID"
        id="UserSelector"
        style="width: 100%"
      >
        <option *ngFor="let type of types" value="{{ type.id }}">
          {{ type.name }}
        </option>
      </select>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
